<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>webpack starterkit</title>
</head>
  body
    h1 webpack starter
    p ✨ A lightweight foundation for your next webpack based frontend project.
    div 
      canvas(id="c1" width="400" height="200")

    input(type="color" id="color")
</html>
